.nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0.3);
}

.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav nav ul {
  display: flex;
  gap: 20px;
}

.nav nav ul li {
  list-style: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.nav nav ul li:hover {
  text-decoration: underline;
}

.burger {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 100%;
  width: 50%;
  right: 0;
  top: 0;
  background: black;
  height: 100vh;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .nav nav ul {
    display: none;
  }

  .burger {
    display: block;
    z-index: 3;
  }
}

.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), #0000004d),
    url('/backgrounds/hero-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.hero .max-width .hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.hero .max-width .hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  z-index: -1;
  max-width: 800px;
}

.hero .max-width .hero-content p {
  color: #fff;
  font-size: 1.5rem;
  max-width: 800px;
  z-index: -1;
  margin-top: 20px;
}

.hero .max-width .hero-content button {
  z-index: -1;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .hero .max-width .hero-content h1 {
    font-size: 35px;
  }

  .hero .max-width .hero-content p {
    font-size: 20px;
  }
}